<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head('Example')}">
    <title></title>
</head>
<body class="bg-gradient-primary">
    <div class="container py-3">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <!-- <div class="row"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
